spring:
  application:
    name: gulimall-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      routes:
      - id: baidu-route
        uri: https://www.baidu.com
        predicates:
        - Query=url,baidu

      - id: qq-route
        uri: https://www.qq.com/
        predicates:
        - Query=url,qq

      - id: product_route
        uri: lb://gulimall-product
        predicates:
          - Path=/api/product/**
        filters:
          - RewritePath=/api/(?<segment>.*), /$\{segment}

      - id: admin_route
        uri: lb://renren-fast
        predicates:
          - Path=/api/**
        filters:
          - RewritePath=/api/(?<segment>.*), /renren-fast/$\{segment}

## 需要路径重写:
## product: http://localhost:88/api/product/category/list/tree -> http://localhost:10000/product/category/list/tree
## admin: http://localhost:88/api/captcha.jpg -> http://localhost:8080/renrnefast/captcha.jpg


server:
  port: 88